.form {
    margin: 10px;
    width: 75vw;
}

.form__add {
    width: 70%;
    margin: 0 auto;
}

.form__add_label {
    display: inline-block;
    font-size: 1.5rem;
    min-width: 200px;
}

.form__add_text {
    border: 2px solid lightgrey;
    width: 70%;
    height: 1.9rem;
    padding: 5px;
    font-size: 1.5rem;
}

.form__add_text:focus {
    background-color: lightblue;
}

.form__add_textarea {
    border: 2px solid lightgrey;
    width: 70%;
    height: 12rem;
    font-size: 1.5rem;
    resize: none;
}

.form__add_select {
    margin: 15px 0 0 0;
    width: 50%;
    font-size: 1.25rem;
}

.form__button_container {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.form__add_button {
    display: inline-block;
    font-size: 1em;
    margin: 10px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: lightblue;
}

.form__error {
    margin: 10px 0;
    border: 1px solid transparent;
    color: red;
    min-height: 1.5em;
}

.api_error {
    color: red;
    font-size: 1.5em;
}
